:root {
    --mainColor : #D4000F;
    --whiteColor: #fff;
    --greyColor : #595858;
}

html,
body,
#app,
main {
    height : 100%;
    margin : 0;
    padding: 0;
}

html {
    font-family: Lato, sans-serif;
    color      : var(--whiteColor);
}

.sunny {
    background: url(img/landscape_sun_fox.png) no-repeat scroll;
}

.mist {
    background: url(img/landscape_fog_fox.png) no-repeat scroll;
}

.clouds1 {
    background: url(img/landscape_clouds_fox.png) no-repeat scroll;
}

.clouds2 {
    background: url(img/landscape_clouds_lots_fox.png) no-repeat scroll;
}

.rain1 {
    background: url(img/landscape_rain_fox.png) no-repeat scroll;
}

.rain2 {
    background: url(img/landscape_rain_strong_fox.png) no-repeat scroll;
}

.thunderstorm {
    background: url(img/landscape_thunderstorm_fox.png) no-repeat scroll;
}

.snow {
    background: url(img/landscape_snow_fox.png) no-repeat scroll;
}

main {
    display   : block;
    margin    : auto;
    text-align: center;
}

#app {
    text-align         : center;
    background-position: bottom right;
    background-size    : cover;
}

.weather-wrapper {
    margin-top: 2vw;
}

.weather-wrapper,
.location-wrapper {
    text-shadow: 0 0 13px var(--mainColor);
}

@media only screen and (max-width:450px) {


    #home {
        font-size       : 4vw;
        line-height     : 4vw;
        margin-top      : 1vw;
        display         : block;
        width           : 49vw;
        height          : 4vw;
        margin          : auto;
        text-decoration : none;
        text-align      : center;
        color           : var(--whiteColor);
        border          : 4px solid var(--mainColor);
        background-color: var(--mainColor);
    }

    #input-wraper input {
        margin-top: 5vw;
        min-width : 50%;
        border    : 4px solid var(--mainColor);
        padding   : 2vw;
        font-size : 5vw;
        color     : var(--greyColor);
        text-align: center;
    }

    #button {
        display         : block;
        padding         : 2vw;
        border          : 4px solid var(--mainColor);
        margin          : 3vw auto;
        font-size       : 5vw;
        color           : var(--whiteColor);
        background-color: var(--mainColor);
    }

    .location-wrapper {
        font-size : 5vw;
        margin-top: 6vw;
    }

    .temp {
        font-size: 17vw;
    }

    .weather {
        font-size: 5vw;
    }

}

@media only screen and (min-width:451px) {


    #home {
        font-size       : 1vw;
        line-height     : 2vw;
        margin-top      : 1vw;
        display         : block;
        width           : 14vw;
        height          : 2vw;
        margin          : auto;
        text-decoration : none;
        text-align      : center;
        color           : var(--whiteColor);
        border          : 4px solid var(--mainColor);
        background-color: var(--mainColor);
    }

    #input-wraper input {
        margin-top: 3vw;
        min-width : 50%;
        border    : 4px solid var(--mainColor);
        padding   : 1vw;
        font-size : 2vw;
        color     : var(--greyColor);
        text-align: center;
    }

    #button {
        display         : block;
        padding         : 1vw;
        border          : 4px solid var(--mainColor);
        margin          : 3vw auto;
        font-size       : 2vw;
        color           : var(--whiteColor);
        background-color: var(--mainColor);
    }

    .location-wrapper {
        font-size : 2vw;
        margin-top: 4vw;
    }

    .temp {
        font-size: 7vw;
    }

    .weather {
        font-size: 2vw;
    }

}